!!!
%html
  %head
    %title Picture Finder!
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body.finder

    %h1 Find A Picture

    - if flash[:notice]
      .notice= flash[:notice]

    = yield

    #about
      Brought to you by #{ mail_to "joe@tanga.com", "Joe" }.
      &copy; #{ Time.now.year }
    = javascript_include_tag "application"

